body {
  margin: 0;
  padding: 0 100px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00001a;
  color: #e6e6ff;
  font-size: 20px;
  line-height: 1.5em;
}

main {
  padding: 50px 0;
  min-height: 600px;
}

button {
  margin: 20px 45%;
  font-size: 20px;
  width: 70px;
  background-color: #00ff00;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

header > button {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 45px;
  margin-left: 35%;
  color: #e600e6;
}

h2 {
  color: #4dffff;
}

h3 {
  color: #ff4dff;
}

table {
  border: 2px solid #ff4dff;
  border-spacing: 0;
  width: 100%;
}
td, th {
  border: 1px solid #ff4dff;
  text-align: center;
  height: 50px;
}
td > button {
  margin: 0;
  font-size: 15px;
  width: 150px;
}

th {
  color: #ff751a;
}

label {
  padding-right: 20px;
}

input {
  width: 200px;
  background-color: #d9d9d9;
}

/*
  main-background-color: #00001a;
  main-color: #e6e6ff;
  tiffany: #4dffff;
  purpl: #ff4dff;
  red: #ff0000;
  orange: #ff751a;
  green: #00ff00;
  blue: #0000ff;
  darkGray: #808080;
*/