.footerLink {
  text-align: right;
}

.footerLink > span {
  font-size: 15px;
}

.footerLink > span > a {
  color: #ff4dff;
}

.footerLink > span > a::after {
  color: #ff4dff;
}

#personMenuBtn {
  cursor: pointer;
}

.personMenuBlock {
  display: none;
}

.activepPersonMenuBlock {
  position: fixed;
  display: flex;
  flex-direction: column;
}

.personMenuLink {
  padding-left: 5px;
  height: 30px;
}

.navPersonLink {
  font-size: 15px;
}