.faqPage {
  display: flex;
  justify-content: center;
}

.faqBtn {
  color: #ff751a;
  height: 50px;
  width: 300px;
  text-align: center;
  font-size: 30px;
}

.faqBtn:hover {
  font-size: 40px;
}

.faqBtnCards {
  border-right: 1px solid #4dffff;
}