.userPage {
  display: flex;
  justify-content: space-around;
}

#userLogin {
  color: #ff4dff;
}

#userImg {
  width: 250px;
  border-radius: 50%;
}

#userImgLogin {
  width: 150px;
  height: 150px;
  background: #ff4dff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.userForm {
  border: 2px dashed #4dffff;
}

.userForm > h3 {
  text-align: center;
}

.userForm > div {
  margin: 20px;
}

.userForm > div > input {
  width: 300px;
}

.userFromBtn {
  margin: 20px 40%;
}

#balance {
  font-size: 30px;
  font-weight: bold;
  color: #ff4dff;
}

.balanceForm {
  width: 250px;
  margin: 0;
}

.balanceForm > input {
  width: 95%;
}