.chatList {
  list-style-type: none;
  padding-left: 0;
}

.chatList > li {
  margin-top: 40px;
  cursor: pointer;
  border-bottom: 1px solid #4dffff;
  display: flex;
}

.chatName {
  width: 35%;
  font-size: 22px;
}

.chatMsg {
  font-size: 18px;
}

.usersListForChat {
  list-style-type: none;
  cursor: pointer;
  margin-right: 30px;
}

.modalContentChat {
  width: 300px;
  height: 300px;
}