.chatList {
  list-style-type: none;
  padding-left: 0;
}

.chatList > li {
  margin-top: 40px;
  cursor: pointer;
  border-bottom: 1px solid #4dffff;
}

.chatList > li > a{
  display: flex;
}

.chatName {
  width: 35%;
  font-size: 22px;
}

.chatMsg {
  font-size: 18px;
}

.usersListForChat {
  list-style-type: none;
  cursor: pointer;
  margin-right: 30px;
}

.modalContentChat {
  width: 300px;
  height: 300px;
}

#chatForm {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#chatForm > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#inpchatInputut {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#chatInput:focus {
  outline: none;
}

#chatMessages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#chatMessages > li {
  padding: 0.5rem 1rem;
}

#chatMessages > li:nth-child(odd) {
  background: #efefef;
}